@page "/"
@using BlazorVersa.Data
@inject FirebaseService FirebaseService
@inject IEmailService EmailService

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="text-center mb-3 display-4">Welcome to VersaNet</h1>
            <p class="lead text-center mb-5">Explore real-time monitoring and analysis of your internet speeds.</p>

            @if (latestResults != null)
            {
                <div class="mb-5">
                    <div class="bg-white border rounded shadow-sm p-4 text-center">
                        <h2 class="mb-4">Latest Results</h2>
                        <p class="font-weight-bold ">Upload Speed: <span class="text-dark">@latestResults.upload_speed Mbps</span></p>
                        <p class="font-weight-bold ">Download Speed: <span class="text-dark">@latestResults.download_speed Mbps</span></p>
                        <p class="font-weight-bold ">Ping: <span class="text-dark">@latestResults.ping_speed ms</span></p>
                    </div>
                </div>
            }
            else
            {
                <div class="text-center">
                    <p>Loading latest results...</p>
                </div>
            }

            <div class="text-center mb-5">
                <a href="/dashboard" class="btn btn-primary btn-lg px-5 mr-3">Explore Dashboard</a>
                <a href="/history" class="btn btn-outline-secondary btn-lg px-5">History</a>
            </div>
        </div>
    </div>
</div>

<style>
    .bg-white {
        background-color: #fff !important;
    }
    .font-weight-bold {
        font-weight: bold !important;
    }
</style>

@code {
    private SpeedtestResults latestResults;

    protected override async Task OnInitializedAsync()
    {
        await LoadLatestResults();
    }

    private async Task LoadLatestResults()
    {
        var (resultsDictionary, _, errorMessage) = await FirebaseService.GetSpeedtestResultsAndRawDataAsync();
        if (errorMessage == null && resultsDictionary != null)
        {
            latestResults = resultsDictionary.Values.OrderByDescending(r => r.timestamp).FirstOrDefault();
        }
        else
        {
            Console.Error.WriteLine(errorMessage ?? "Error fetching results.");
        }
    }
}
