@page "/"
@using BlazorVersa.Data
@inject FirebaseService FirebaseService

<h3>Speedtest</h3>

@if (!string.IsNullOrEmpty(speedtestResultsJson))
{
    <pre>@speedtestResultsJson</pre>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p>Error occurred: @errorMessage</p>
}
else
{
    <p>Loading...</p>
}

@code {
    private string speedtestResultsJson;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            speedtestResultsJson = await FirebaseService.GetSpeedtestResultsJsonAsync();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
